<div class="container">
    <div class="row my-3">
        <h3 class="text-info">Summary Of Day</h3>
    </div>
    <div class="row my-2">
        <div class="col-md-12 col-xl-6">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Profite</h6>
                            <h3 class="f-w-700 text-c-blue">{{detailsProfite.total_profite?detailsProfite.total_profite:0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-eye bg-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6">

            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Balance</h6>
                            <h3 class="f-w-700 text-c-green">{{detailsProfite.balanceDue?detailsProfite.balanceDue:0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bullseye bg-c-green"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Payment Amount</h6>
                            <h3 class="f-w-700 text-c-yellow">{{detailsProfite.paymentAmount?detailsProfite.paymentAmount:0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hand-paper bg-c-yellow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Numbers of Transactions</h6>
                            <h3 class="f-w-700 text-c-blue">{{detailsProfite.quantity?detailsProfite.quantity:0}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <!-- <i class="fa-solid fa-hashtag"></i> -->
                            <i class="fas fa-hashtag bg-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <h3 class="text-info">Summary Of Month</h3>
    </div>
    <div class="row my-2">
        <div class="col-md-12 col-xl-6">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Profite</h6>
                            <h3 class="f-w-700 text-c-blue">{{detailsProfiteMonthly.total_profite | currency:' AED '}}</h3>
                            <p class="m-b-0">from <span>{{this.filteration.startedDate |date}}</span> to Now</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-eye bg-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6">

            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Balance</h6>
                            <h3 class="f-w-700 text-c-green">{{detailsProfiteMonthly.balanceDue | currency:' AED '}}</h3>
                            <p class="m-b-0">from <span>{{this.filteration.startedDate |date}}</span> to Now</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bullseye bg-c-green"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Current Cash</h6>
                            <h3 class="f-w-700 text-c-yellow ">{{amountCash | currency:' AED '}}</h3>
                            <p class="m-b-0">from <span>{{this.filteration.startedDate |date}}</span> to Now</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-eye  bg-c-yellow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- <div class="col-md-12 col-xl-6">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25 " >Total Payment Amount</h6>
                            <h3 class="f-w-700 text-c-yellow">{{detailsProfiteMonthly.paymentAmount | currency:' AED '}}</h3>
                            <p class="m-b-0">from <span>{{this.filteration.startedDate |date}}</span> to Now</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hand-paper bg-c-yellow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-md-12 col-xl-6">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Petty Cash</h6>
                            <h3 class="f-w-700  text-c-blue">{{pettyCash}}</h3>
                            <p class="m-b-0">from <span>{{this.filteration.startedDate |date}}</span> to Now</p>
                        </div>
                        <div class="col-auto">
                            <!-- <i class="fa-solid fa-hashtag"></i> -->
                            <i class="fas fa-hashtag bg-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>