<div class="pt-2">
    <header>
        <h2 class="text-center">{{data?.message? data?.message:'Are You Sure That You Want To Discard Your Changes ?'}} </h2>
    </header>

    <footer class="mt-5">
        <div class="d-flex justify-content-center align-items-center">
            <button mat-flat-button class="btn btn-success py-1 px-5 mx-2" (click)="confirm()" >Yes</button>
         
            <button mat-flat-button class="btn btn-danger py-1 px-5 mx-2" (click)="close()">No</button>
        </div>
    </footer>
</div>